
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  color: #333;
}

p {
  font-size: 1.2em;
  font-weight: 300;
  color: #333;
}
